.home  input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  width: 30%;
  margin: 10px auto;
}

.home input:focus {
  outline: none;
  border-color: #0066ff;
  box-shadow: 0 0 5px #0066ff;
}

.home input::placeholder {
  color: #aaa;
}

.home input:hover {
  border-color: #999;
}