.home input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  width: 30%;
  margin: 10px auto;
}

.home input:focus {
  outline: none;
  border-color: #0066ff;
  box-shadow: 0 0 5px #0066ff;
}

.home input::placeholder {
  color: #aaa;
}

.home input:hover {
  border-color: #999;
}

.commentcamarche {
  background-color: rgb(228, 242, 255);
  padding: 10px;
  margin-bottom: 20px;
}

.commentcamarche h1 {
  text-align: left;
  padding: 0 10%;
}

.commentcamarche .etapes {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.commentcamarche .etape {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30%;
}


.commentcamarche .etape .etapeheader {
  display: flex;
  align-items: center;
}

.commentcamarche .etape .etapeheader p {
  font-weight: bold;
}

.commentcamarche .etape img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.commentcamarche .etape .etapedescription {
  text-align: left;
}

/*  */

.start {
  display: flex;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
  margin: 10px 0 60px 0;
}

.start .infos {
  text-align: left;
  margin-right: 40px;
}

.start .firstp {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 5px;
}

.start .firstp span {
  color: rgb(0, 110, 255);
}

.start .secondp {
  color: gray;
}

.start img{
  width: 500px;
}
