.signup{
  width: 35vw;
  margin: 10px auto;
}

.signup form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 18px 0px rgb(36, 34, 34);
  transition: 0.4s ease;
}

.signup form:hover{
  box-shadow: 0px 0px 5px 0px rgb(36, 34, 34);
}

.signup form .inscrire{
  color: rgb(0, 110, 255);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.signup form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  width: 90%;
  margin: 10px auto;
}

.signup input:focus {
  outline: none;
  border-color: #0066ff;
  box-shadow: 0 0 5px #0066ff;
}

.signup input::placeholder {
  color: #aaa;
}

.signup input:hover {
  border-color: #999;
}


.signup button{
  width: 90%;
  padding: 15px;
  margin: 10px auto;
  border-radius: 40px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 110, 255);
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.signup button:hover{
  background-color: rgb(0, 88, 204);
}

.signup form div span{
  color: rgb(0, 110, 255);
  font-weight: bold;
}

.signup form div span a{
  text-decoration: none;
  color: rgb(0, 110, 255);
}


.signup select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  width: 95%;
  margin: 10px auto;
}

.signup select:focus {
  outline: none;
  border-color: #0066ff;
  box-shadow: 0 0 5px #0066ff;
}

.signup select:hover{
  border-color: #999;
}